{% extends "base.html" %}

{% block content %}
  <h1>Driver List</h1>

  <form method="get" class="mb-3">
    <input type="text" name="username" placeholder="Search by username" class="form-control mb-2" value="{{ request.GET.username }}">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  {% if driver_list %}
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>First name</th>
          <th>Last name</th>
          <th>License number</th>
        </tr>
      </thead>
      <tbody>
        {% for driver in driver_list %}
          <tr>
            <td>{{ driver.id }}</td>
            <td><a href="{{ driver.get_absolute_url }}">{{ driver.username }}{% if user == driver %} (Me){% endif %}</a></td>
            <td>{{ driver.first_name }}</td>
            <td>{{ driver.last_name }}</td>
            <td>{{ driver.license_number }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url "taxi:driver-create" %}" class="btn btn-success">Create Driver</a>
  {% else %}
    <p>No drivers found.</p>
  {% endif %}
{% endblock %}
